/* General Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff; /* Mauve from color palette */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    font-weight: bold;
    color: #E1B599;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
}

    a:hover {
        color: #9EA677;
    }

/* Navbar Styles */
.navbar {
    background-color: #A1AD95;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

    .navbar .logo {
        display: flex;
        align-items: center;
    }

        .navbar .logo img {
            height: 40px;
            margin-right: 10px;
        }

    .navbar .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

    .navbar .nav-links {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
    }

        .navbar .nav-links a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            transition: color 0.3s;
        }

            .navbar .nav-links a:hover {
                color: #A1AD95; /* Khaki from color palette */
            }


/* Footer */
.footer {
    background-color: #A1AD95; /* Black from color palette */
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: auto;
}

    .footer .social-links {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0 0;
        padding: 0;
    }

        .footer .social-links img {
            width: 30px;
            height: 30px;
            transition: transform 0.3s;
        }

            .footer .social-links img:hover {
                transform: scale(1.1);
            }
